<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/nav.css" rel="stylesheet" />
    <link href="~/Content/fa/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/easyui/themes/material-teal/easyui.css" rel="stylesheet" />
    <script src="~/Content/easyui/jquery.min.js"></script>
    <script src="~/Content/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Content/js/DoAjax.js"></script>
    <script src="~/Content/easyui/jquery.easyui.min.js"></script>
    <script src="~/Content/bootstrap4/js/bootstrap.min.js"></script>
    <script src="~/Content/js/nav.js"></script>
    <script src="~/Content/js/indextab.js"></script>
</head>
<body style="overflow:hidden;">
    <div>
        @RenderBody()
    </div>
    
</body>
</html>
